.nav{
  margin: 0 10px;
  list-style: none;
  text-align: center;
}
.nav .nav-li{
  display: inline-block;
  padding: 5px 7px;
}
.icon-view{
  display: flex !important;
  align-items: center;
}
.icon-view .img{
  width: 30px;
}
.contents{
  padding: 80px 0 50px;
}
.map-tit{
  list-style: none;
  text-align: center;
}
.map-tit li{
  display: inline-block;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 5px;
}